.data-table-container {
  .data-table {
    background-color: #fff;
    padding: 20px;

    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }

    img {
      widows: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
